package view

import (
	"github.com/gofiber/fiber/v2"
	"github.com/tkaelbel/zirp-ui/layout"
)

templ HomeIndex(fromProtected bool) {
	<div
		class="hero min-h-screen"
		style="background-image: url(/forest.jpg);"
	>
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-neutral-content text-center">
			<div class="max-w-md">
				<div class="overflow-auto w-5/5 flex items-center">
					<div>
						<h1 class="mb-5 text-5xl font-bold">
							Hello there to zirp,
							<img src="/Designer.png" class="inline" width="200"/>
							an instant message platform.
						</h1>
					</div>
				</div>
				<p class="mb-5">
					To contribute just register and log in.
				</p>
				<div class="space-x-4">
					<a
						hx-swap="transition:true"
						href="/login"
						class="btn btn-primary"
					>Login</a>
					<a
						hx-swap="transition:true"
						href="/register"
						class="btn btn-secondary"
					>Register</a>
				</div>
			</div>
		</div>
	</div>
	// <section class="mx-auto w-fit flex flex-col gap-8 text-center">
	// 	<h1 class="text-5xl font-bold">Welcome to our TodoList !!</h1>
	// 	<p class="text-2xl font-thin">
	// 		Here you can keep track of all your tasks and have an overview of your responsibilities.
	// 	</p>
	// 	if !fromProtected {
	// 		<hr class="my-4 w-4/5 mx-auto opacity-25"/>
	// 		<p class="text-base font-thin">You have an account?</p>
	// 		<footer class="flex gap-4 justify-center">
	// 			<a
	// 				hx-swap="transition:true"
	// 				href="/login"
	// 				class="badge badge-primary px-6 py-4 hover:scale-[1.1] text-lg font-thin"
	// 			>
	// 				Log In
	// 			</a>
	// 			<a
	// 				hx-swap="transition:true"
	// 				href="/register"
	// 				class="badge badge-neutral px-6 py-4 hover:scale-[1.1] text-lg font-thin"
	// 			>
	// 				Sign Up
	// 			</a>
	// 		</footer>
	// 	}
	// </section>
}

templ Home(
	page string,
	fromProtected, isError bool,
	msg fiber.Map,
	cmp templ.Component,
) {
	@layout.App(page, fromProtected, isError, msg, "") {
		@cmp
	}
}
