package view

import (
	"github.com/gofiber/fiber/v2"
	"github.com/tkaelbel/zirp-ui/layout"
)

templ LoginIndex(fromProtected bool) {
	<div
		class="hero min-h-screen"
		style="background-image: url(/forest.jpg);"
	>
		<div class="hero min-h-screen">
			<div class="hero-content flex-col lg:flex-row-reverse">
				<div class="card bg-base-100 w-full max-w-l shrink-0 shadow-2xl">
					<form class="card-body">
						<h1 class="text-5xl font-bold">Login now! <img src="/Designer.png" class="inline" width="200"/></h1>
						<div class="form-control">
							<label class="label">
								<span class="label-text">Email</span>
							</label>
							<input type="email" placeholder="email" class="input input-bordered" required/>
						</div>
						<div class="form-control">
							<label class="label">
								<span class="label-text">Password</span>
							</label>
							<input type="password" placeholder="password" class="input input-bordered" required/>
							<label class="label">
								<a href="#" class="label-text-alt link link-hover">Forgot password?</a>
							</label>
						</div>
						<div class="form-control mt-6">
							<button class="btn btn-primary">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}

templ Login(
	page string,
	fromProtected, isError bool,
	msg fiber.Map,
	cmp templ.Component,
) {
	@layout.App(page, fromProtected, isError, msg, "") {
		@cmp
	}
}
